/*Estilos generales*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: coral;
}
/* Estilos del Nav */

.Nav {
    width: 100%;
	background: coral;
    
}

.Nav #Bar , .Nav #Act {
	color: #fffeff;
	display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
	padding: 2.1vh;
    font-size: 1.5vw;
	width: 100%;
	text-align: center;
	transition: .3s ease-out all;
    text-decoration: none;
}

.Nav #Bar:hover {
	background: #fffeff;
    border-radius: 5px;
	color: coral;
	text-decoration: none;
}
.Nav #Act{
	background: #fffeff;
    border-radius: 5px;
	color: coral;
	text-decoration: none;
}
.Cont {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
/*IMG NAV*/
.Img-nav{
        width: 4.8%;
        border-radius: 8px;
        display: inline-block;
    position: absolute;
    top: 0;
}
/*Contenido*/
.CDCP{
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}
.Txt{
    font-size: 18.8px;
    font-family: 'Hind', sans-serif;
    text-align: center;
}
.uh{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}
.Capa{
    width: 90%;
    margin: auto;
}
/*Videos*/

.ClaseVideos{
    width: 640px;
    height: 360px;
    margin: auto;
}
.Vd{
    width: 56%;
    margin: auto;
}

/*Scroll*/
body::-webkit-scrollbar {
	width: 6px;
	background: white;
	
}
body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #1a1d1e;
	border-right: 2px solid #242424; 
}
/*footer*/
footer{
    color: black;
    background: white;
	width: 100%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.txfo{
    text-align: center;
}
.txicon{
    text-align: center;
    font-size: 30px;
    color: coral;
}

/*--------------Estilos Adaptados a dispositivos mobiles ----------*/
@media (max-width:450px){
    .Img-nav{
        width: 30%;
        border-radius: 8px;
        top: 40px;
        
        
    }
    .Nav #Bar , .Nav #Act {
        padding: 2.1vh;
        font-size: 3.5vw;
    }
    .Cont {
	     display: inline-block;
        width: 100%;
      }
    .ClaseVideos{
        width: 290px;
        height: 200px;
    }
    .Vd{
        width: 95%;
    }
    
}
